---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Proyects from "../components/Proyects.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Some <span class="text-gradient">Components</span></h1>


	<div class=" border-2 border-black rounded-lg  m-20 p-20 ">

		<Proyects/>

	</div>
   
  </main>
</Layout>

<style>
	main{
		color-scheme: dark, light;
	}
  
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  

</style>
